@import url('https://fonts.googleapis.com/css?family=Actor');

head{

}

body{
height:80%; /*leave space for header*/
width:100%;
background-color: #FFFFFF;
}

h1{
font-family: Actor;

}

div.container{
height:70%;
}

div.doctor{
display:inline-block;
padding:20px;
}

div.webcam{
border-style: solid;
border-width: 2px;
border-color: #001200;
border-radius: 5px;
}
#maincam{
}
#smallcam{
}
div.info{
font-family: Actor;
border-style: solid;

}

div.chat{
font-family: Actor, Sans-Serif;
width: 60%;
}

p{
}

/*details*/
ul{
list-style-image: none;
list-style-type: none;
}


/*text*/
