@import url('https://fonts.googleapis.com/css?family=Actor');

head{

}

body{
height:80%; /*leave space for header*/
width:95%;
background-color: #BFDEF5;
}

h1{
font-family: Actor;

}

div.container{
float:left;
clear:left;
}

div.cam{
width:100%;
height:90%;
float: left;
padding:2px;
}
div.left{
width:90%;
height:90%;
float:left;
}
div.doctor{
display:inline-block;
padding:10px;
width:40%;
float:left;
}

div.maincam{
border-style: solid;
border-width: 2px;
border-color: #001200;
border-radius: 5px;
display:inline-block;
}

div.smallcam{
border-style: solid;
border-width: 2px;
border-color: #001200;
border-radius: 5px;
width:30%;
margin-top:0px;
margin-bottom:5px;
margin-left:0px;
margin-right:5px;

display:inline-block;
float:left;
}

#maincam{
}
#smallcam{
}
div.info{
font-family: Actor, sans-serif;
border-style: solid;

}

div.chat{
font-family: Actor, sans-serif;
width: 60%;
}

p{
}

/*details*/
ul{
list-style-image: none;
list-style-type: none;
}

/*createAccount.php*/
select,option,form{
font-family: Actor, sans serif;
font-size: 1.2em;
}
input{
font-family: Actor, sans serif;
box-shadow:2px 2px 2px #000000;
border-radius:2px;
border:1px solid;
font-family: Actor, sans-serif;
font-size: 1.1em;
}

div.form{

}

/*text*/
