#onlineList {
   position:fixed; /*or  absolute*/
   top:80%;
   left:5px;
   width:10%:
   background:none;
   z-index: 999; /* or  greater value */
   font-size: 12px;
   background-color:#FFFFFF;
   border-style: solid;
   border-width: 2px;
   border-color: #001200;
   border-radius: 5px;
   display:inline-block;
   padding:5px;
   float:left;
}
.chatlog{
    font-family: Actor, Arial, sans-serif;
}
.Online{
    border-radius: 2px;
    font-color:'lime';
    background-color:##00FF00;
}
.Away{
    border-radius: 2px;
    font-color: orange;
}
.Idle{
    border-radius: 2px;
    font-color: red;
}

#maincam {

}

#smallcam {

}


/*details*/
ul {
	list-style-image: none;
	list-style-type: none;
}

button {
	box-shadow:2px 2px 2px #000000;
	border-radius:2px;
	font-style:'Denk One', Actor, Arial, Sans-serif;
}

/*createAccount.php*/
select,option,form {
	font-family: Actor, sans serif;
	font-size: 1.2em;
}

input {
	font-family: Gudea, sans serif;
	box-shadow:2px 2px 2px #000000;
	border-radius:2px;
	border:1px solid;
	font-family: Actor, sans-serif;
	font-size: 1.1em;
}

div.form {
	box-shadow:2px 2px 2px #000000;
	border:2px groove;
	border-radius:2px;
}